<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>searchTargets</key>
	<array>
		<dict>
			<key>name</key>
			<string>IMDb</string>
			<key>color</key>
			<string>#f5de50</string>
			<key>url</key>
			<string>https://www.imdb.com/find?q={query}</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Google</string>
			<key>color</key>
			<string>#FFFFFF</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
		</dict>
		<dict>
			<key>name</key>
			<string>YouTube</string>
			<key>color</key>
			<string>#c4302b</string>
			<key>url</key>
			<string>https://m.youtube.com/results?search_query={query}</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Twitter</string>
			<key>color</key>
			<string>#1DA1F2</string>
			<key>url</key>
			<string>https://www.twitter.com/search?q={query}</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Facebook</string>
			<key>color</key>
			<string>#3C5A99</string>
			<key>url</key>
			<string>https://m.facebook.com/search/top/?q={query}</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Instagram</string>
			<key>color</key>
			<string>#833AB4</string>
			<key>url</key>
			<string>https://www.instagram.com/explore/tags/{query}</string>
		</dict>
		<dict>
			<key>name</key>
			<string>reddit</string>
			<key>color</key>
			<string>#FF4500</string>
			<key>url</key>
			<string>https://www.reddit.com/search?q={query}</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Trakt</string>
			<key>color</key>
			<string>#E91E26</string>
			<key>url</key>
			<string>https://trakt.tv/search?query={query}</string>
		</dict>
	</array>
</dict>
</plist>
